:host {
  &.node-changed {
    .cd-viewer-tree-node {
      background-color: #C8E6C9;
    }
  }

  &.node-initialised {
    .cd-viewer-tree-node {
      background-color: #F0F4C3;
    }
  }

  .cd-viewer-tree-node {
    background-color: rgba(52, 103, 191, 0.24);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 0px;
    margin-bottom: 8px;
    font-size: 18px;
    max-width: 300px;
    min-height: 32px;
    line-height: 32px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}