:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0 8px;

  > * {
    flex: 0 1 50%;

    &:first-child {
      border-right: #ccc 1px solid;
    }

    &:not(:first-child) {
      margin-left: 8px;
    }
  }
}